- provide(:title, "Week 1")
.row
  .col-md-3
    .box.side-nav
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{href: weeks_one_path} Today (Week 1)
        %li
          %a{href: game_path(current_user.game)} Game status
        %li
          %a{href: procedures_path} Procedures and resources
  .col-md-9
    .box
      %h1 Week 1
      .week-video
        %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/iOC0mrmIjHo?rel=0", width: "560"}
      .blockquote.week-quote
        "There is no instance of a country having benefited from prolonged warfare." ― Sun Tzu, The Art of War

      %h3 Prepare before class
      %ul
        %li Decide on roles for kids. As the facilitator your most important duty is picking the team leaders, saboteur, and weather god[ess]. Remember the students get to pick their cabinet. When creating a game under the _____ tab, you will be able to see all of the roles that must be assigned. Here are some helpful suggestions from John on picking your leaders for the different roles:
        %ul
          %li Pick students based on the idea that the particular role will be beneficial for that individual’s growth.
          %li If your intuition indicates that the student is a budding leader, you can encourage this by giving them an important leadership position. The game can help solidify leadership skills. 
          %li If the age of your students varies greatly, sometimes, pick younger kids as leaders so the older kids do not overshadow them. 
          %li Print out Dossiers to be given out in class.


      %h3 In class activities
      %ul
        %li Show Game Intro (Video?): Showing how the game is played can get them excited.
        %li Show students the game board with the 5 different countries. Explain the setup of the board and the meaning of all of the game pieces. 
        %li Assign Roles #{link_to 'here', new_game_path(current_user.game)}
        %ul
          %li Ask students chosen for the roles of prime minister and weather god[ess]. Remember the students can accept or reject your offer. 
          %li Declare the final roles to the class.
          %li The prime ministers will then draft their cabinets.
          %li Tell kids about the roll of the saboteur. Secretively, ask a student to be the saboteur before the next game day.
        %li Hand out dossiers based on rolls.
        %li Students should design flags and designate name of their countries.


      %h3 Prepare for next class
      %ul
        %li To go through the dossier and online video (we make these?) to understand their role in the game

      .bottom-links
        .next-week.pull-right
          = link_to "Next week", weeks_two_path