- provide(:title, "Week 2")
.row
  .col-md-10.col-md-offset-1
    .box
      %h1 Week 2
      .week-video
        %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/lCq8V2EhYs0", width: "560"}
      .blockquote.week-quote
        "Engage people with what they expect; it is what they are able to discern and confirms their projections. It settles them into predictable patterns of response, occupying their minds while you wait for the extraordinary moment — that which they cannot anticipate.""  ― Sun Tzu, The Art of War
      %h3 Prepare before class
      %ul
        %li Print out crises reports.
        %li Assign the rest of the students as arms dealers, U.N., or the World Bank.

      %h3 In class activities
      %ul
        %li Declare the assignment of the arms dealers, U.N., and the World Bank. 
        %li Handout and explain crises packets. 
        %li Explain how each game day works. Each country takes one turn each game day based on the country’s economic status where the poorest country goes first. There is also a negotiation period between each country’s turn. See _______ for more details.

      %h3 Prepare for next class
      %ul
        %li Fill out game strategy section of dossier.

      .bottom-links
        .previous-week.pull-left
          = link_to "Last week", weeks_one_path
        .next-week.pull-right
          = link_to "Next week", weeks_three_path