.row
  .col-md-3
    .box.side-nav
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{href: overview_path} Overview
        %li
          %a{href: get_started_path} Getting started
        %li
          %a{href: setup_path} Setup
        %li
          %a{href: materials_path} Materials
        %li
          %a{href: crisis_path} Crisis
        %li
          %a{href: learn_path} Learn to facilitate
  .col-md-9
    .box
      %h1 Getting started

      / Facilitators Job
      %h3 Facilitator's (Teacher's) Job
      %p The facilitator’s job is to run the game and guide students in their play, but the facilitator should take a mostly hands-off approach to enforcing rules.  Defer most questions to the weather goddess(es).  The facilitator’s main purpose is to question the students and make sure that they are engaging critically with the questions.  The facilitator must also assign roles at the outset of the game.

      / Number of players
      %h3 Number of players
      %p Minimum players: 22 (4 per country, 1 each of World Bank, Arms Dealers, Weather Goddess, UN representative, Media). We feel this is the bare minimum of players necessary to have an engaging game full of conflict and communication. The game will feel slightly different.
      %p Recommended: 27-33 (5 per country, 1 WG, 3 of the other roles)
      %p Maximum: 37 (5 per country, 1 WG, 4 of other roles) Once you have more than 4 players in the UN, World Bank, Arms Dealers, and Media, there are simply not enough countries to accommodate actions for all the players.

      / Levels of the game
      %h3 Versions of the game
      %p We have three different versions of the World Peace Game, with different scales. They run the range from one short session to a massive, networked, multiple-week session.
      %ol
        %li One-hour class session, mini-game, similar goals and challenges but without the massive scale, set in a (slightly) different world. This game type will familiarize you with the game rules and structures. It will also provide a taste of the kinds of discussions the game will generate. This is a good game to play even if you don’t quite know the personalities of your students yet, so it can be a good icebreaker. More detailed instructions and rules may be found here: https://docs.google.com/document/d/11Yey4MPrcgZirHyp9VsqxMS7DlAeRJEc2v65B7jtKO4/edit?usp=sharing
        %li In-class twelve-week session, basically the original WPG, just using the digitized assets. This game type will create a multifaceted and complex set of problems for your students to solve, generating discussion and conflict. We recommend you play this game with a class you are familiar with, perhaps in the spring.
        %li Networked twelve-week session, includes the pandemic and the space station ideas. This game takes the original World Peace Game and explodes it into space. With this game type, your students will juggle worldwide conflict with interplanetary drama. They will have to balance in-class discussions with online communication with other schools.