.row
  .col-md-3
    .box.side-nav
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{href: overview_path} Overview
        %li
          %a{href: get_started_path} Getting started
        %li
          %a{href: setup_path} Setup
        %li
          %a{href: materials_path} Materials
        %li
          %a{href: crisis_path} Crisis
        %li
          %a{href: learn_path} Learn to facilitate
  .col-md-9
    .box
      %h1 Learn to facilitate

      / Facilitators Job
      %h3 Facilitator's (Teacher's) Job
      %p The facilitator’s job is to run the game and guide students in their play, but the facilitator should take a mostly hands-off approach to enforcing rules.  Defer most questions to the weather goddess(es).  The facilitator’s main purpose is to question the students and make sure that they are engaging critically with the questions.  The facilitator must also assign roles at the outset of the game. A game designed to help the facilitator learn to facilitate is the flag game.

      %h3 Flag game
      %p One-hour class session, mini-game, similar goals and challenges but without the massive scale, set in a (slightly) different world. This game type will familiarize you with the game rules and structures. It will also provide a taste of the kinds of discussions the game will generate. This is a good game to play even if you don’t quite know the personalities of your students yet, so it can be a good icebreaker. More detailed instructions and rules may be found here: https://docs.google.com/document/d/11Yey4MPrcgZirHyp9VsqxMS7DlAeRJEc2v65B7jtKO4/edit?usp=sharing.