.row
  .col-md-3
    .box.side-nav
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{href: overview_path} Overview
        %li
          %a{href: get_started_path} Getting started
        %li
          %a{href: setup_path} Setup
        %li
          %a{href: materials_path} Materials
        %li
          %a{href: crisis_path} Crisis
        %li
          %a{href: learn_path} Learn to facilitate
  .col-md-9
    .box
      %h1 Materials