.row
  .col-md-3
    .box.side-nav
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{href: overview_path} Overview
        %li
          %a{href: get_started_path} Getting started
        %li
          %a{href: setup_path} Setup
        %li
          %a{href: materials_path} Materials
        %li
          %a{href: crisis_path} Crisis
        %li
          %a{href: learn_path} Learn to facilitate
  .col-md-9
    .box
      %h1 Materials

      %h4 Game board
      The gameboard consists of 4 levels.  Players can gather around the board and play the game.

      %h4 Dossier
      %p The dossier contains information on the student roles and country status.  It has budget records and inventory sheets.  Additionally, it contains information on country goals and outlines strategies for countries to accomplish their goals.  Lastly, it contains treaty forms and expenditure reports.  One copy should be given to each country.
      = link_to "Download here", "dossier.pdf"

      %h4 Syllabus 
      %p The complete weekly syllabus can be found here.  It contains information on running the game and weekly goals and objectives.  The syllabus will help the facilitator with getting started.
      = link_to 'Download here', 'syllabus.pdf'

      %h4 Crises document 
      %p The crises listing contains all crises information and can be found here.  
      = link_to 'Download here', 'crises.pdf'