.row
  .col-md-3
    .box.side-nav
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{href: overview_path} Overview
        %li
          %a{href: get_started_path} Getting started
        %li
          %a{href: setup_path} Setup
        %li
          %a{href: materials_path} Materials
        %li
          %a{href: crisis_path} Crisis
        %li
          %a{href: learn_path} Learn to facilitate
  .col-md-9
    .box
      %h1 Overview
      / Overview
      %h3 Overview
      %p In the words of John Hunter, the World Peace Game (WPG) is a teaching tool: 
      %p "It is not an entertainment or a diversion for idle minds, because its main purpose is really as a teaching vehicle: helping kids to develop conceptual plans, design and implement them, push innovative and creative thinking, help them to formulate ideas and be able to express them concisely and persuasively, to be able to ‘deal‘ with adults on equal footing in conversation and to the extent possible conceptually and philosophically, to foster regular reflective practice, and of course, to foster compassion."
      %p Your students will already be using the game to learn the larger concepts that John just pointed out. The WPG is truly incredible, however, because the game also gives you freedom to integrate core curriculum requirements. Think of the game as scaffolding for the teaching objectives that you have. Through play students achieve these objectives in a measurable way. 
      %p Students learn to
      %ul
        %li Communicate, negotiate, and compromise
        %li Make decisions under pressure
        %li Set, enforce, and comply with standards of online behavior
        %li Balance multiple conflicts and motivations
        %li Chunk a larger problem into manageable pieces
      %p Students take on roles as leaders in countries of various wealth, members of the World Bank, Arms Dealers, and various other positions. Each game day, countries take turns making declarations, followed by a period for negotiation after each declaration. The World Peace Game is played by constant discussion and negotiation. The game is won when the countries have worked to solve a list of crisis and every country has a net gain.