.row
  .col-md-3
    .box.side-nav
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{href: overview_path} Overview
        %li
          %a{href: get_started_path} Getting started
        %li
          %a{href: setup_path} Setup
        %li
          %a{href: materials_path} Materials
        %li
          %a{href: crisis_path} Crisis
        %li
          %a{href: learn_path} Learn to facilitate
  .col-md-9
    .box
      %h1 Setup
      / Number of players
      %h3 Number of players
      %p Minimum players: 22 (4 per country, 1 each of World Bank, Arms Dealers, Weather Goddess, UN representative, Media). We feel this is the bare minimum of players necessary to have an engaging game full of conflict and communication. The game will feel slightly different.
      %p Recommended: 27-33 (5 per country, 1 WG, 3 of the other roles)
      %p Maximum: 37 (5 per country, 1 WG, 4 of other roles) Once you have more than 4 players in the UN, World Bank, Arms Dealers, and Media, there are simply not enough countries to accommodate actions for all the players.

      / Player roles
      %h3 Player Roles
      %p Prime minister: Serves and speaks for the people of his or her country. Directs major political and social decisions and policy. Writes letters when soldiers are lost. Only player allowed to move troops, based on the direction of the Defense Minister. Approves all treaties and trades.
      %p Secretary of State: Second in command. Assists the PM and carries out directives. Signs diplomatic treaties.
      %p Defense Minister: Plans and carries out military defense/offensive strategy under leadership and directives of the PM. Declares attacks. Places orders for weapons to the Arms Dealers, but sale has to be approved by the Secretary of Trade and Commerce or the Comptroller
      %p Chief Financial Officer (Comptroller?): Controls and accounts for nation’s budget, including asset gain and expenditures. Reports budgets to the World Bank for auditing. Responsible for the financial health of the country, has the power to veto any expenditures that would put the country into the red.
      %p Secretary of Trade and Commerce: Makes trades with other nations and increases business assets of own country. Signs trade agreements.
      %p Arms Dealers: Maintains arms and/or forces for sale or rent to any nation or party.
      %p Weather goddess: determines probability of things happening, has a lot of responsibility for making the game successful and fair.  Also manages the weather on the school planet.
      %p World Bank Chairperson: Manages WB budget.  Makes loans, collects fees, tariffs, debts, and fines.
      %p UN: Witnesses and signs off on treaties
      %p UN Secretary General: Peace Planning, Mediation between nations in conflict
      %p "Confusion agent" - Saboteur: Speaks and plans with facilitator individually
