- provide(:title, "LearnTo: Log in")
.sign-in
  .row
    .col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
      .box
        .registered-login
        %h5 Log in with registered details
        = render 'form'
        .no-account
          Don't have an account yet?
          = link_to "Register now", new_user_path, class: 'register'