/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

.btn-custom {
  background-color: #e78523;
  border-color: #e78523;
  color: white !important; }

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #d97818;
  border-color: #c26c15; }

.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #e78523;
  border-color: #e78523; }
html, body {
  background-image: url(/assets/tweed.png); }

h2, h3, h4, h5, h6 {
  color: #6a973f !important; }

h1 {
  color: #e78523 !important; }

.top-buffer {
  margin-top: 60px; }

a {
  color: #e78523 !important; }

.box {
  background: #FEFEFE;
  height: 100%;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  padding: 20px;
  background: -webkit-linear-gradient(45deg, white, #f9f9f9);
  border-radius: 5px;
  margin-bottom: 20px; }
.start-game {
  text-align: center; }
#header .navbar {
  background-color: #a3cd39; }
#header .nav-text {
  font-size: 1.8em;
  color: #e78523; }
  #header .nav-text:hover {
    text-decoration: none; }
#header img.nav-logo {
  padding: 10px 0;
  height: 80px; }
#header .right-links {
  padding-top: 5px; }
#header .nav-pills {
  margin-top: 15px; }
  #header .nav-pills > li > a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    color: #e78523; }
.landing-video {
  text-align: center; }

.landing-image {
  max-width: 100%;
  max-height: 100%; }

.landing-action {
  margin-top: 40px; }

.side-nav.nav-pills > li.active > a {
  background-color: #e78523; }
.sign-in h5 {
  color: #777; }
.sign-in .no-account {
  margin: 20px 0;
  font-size: .9em;
  color: #777; }
.sign-in .register {
  color: black;
  font-weight: bold; }
.bottom-links {
  margin-top: 20px;
  font-size: 1.2em;
  padding-bottom: 20px; }

.week-video {
  margin-top: 20px;
  text-align: center; }

.week-quote {
  font: 14px/22px normal helvetica, sans-serif;
  margin: 30px 50px 10px 50px;
  padding: 0px 15px;
  border-left: 3px solid #ccc; }
