// Place all the styles related to the weeks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bottom-links {
  margin-top: 20px;
  font-size: 1.2em;
  padding-bottom: 20px;
}

.week-video {
  margin-top: 20px;
  text-align: center;
}

.week-quote {
  font: 14px/22px normal helvetica, sans-serif;
  margin: 30px 50px 10px 50px;
  padding: 0px 15px;
  border-left: 3px solid #ccc;
} 