%nav.navbar.navbar-default.navbar-static-top{role: "navigation"}
  .container
    .navbar-header
      = link_to (image_tag 'logo.png', :class => 'nav-logo') + "World Peace Game", home_path, class: "nav-text"
    #collapse_links.collapse.navbar-collapse.right-links
      %ul.nav.nav-pills.navbar-right
        - if current_user
          %li
            = link_to 'Logout', logout_path
        - else
          %li
            = link_to 'Login', login_path
        %li
          = link_to 'About', overview_path